{% extends 'base.html' %}

{% block content %}
<div class="p-4">
    <h1>Mis Proyectos</h1>
    {% if proyectos %}
    <div class="row p-4">
        {% for proyecto in proyectos %}
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-header pb-0">
                    <p class="mb-2">{{ proyecto.nombre }}</p>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>Proceso:</strong> {{ proyecto.id_proceso.nombre }}</p>
                    <p class="card-text"><strong>Vacantes disponibles:</strong> {{ proyecto.vacantes_disponibles }}</p>
                    <p class="card-text"><strong>Periodo:</strong> {{ proyecto.periodo }} {{ proyecto.año }}</p>
                    <p><strong>Programa educativo:</strong> {{ proyecto.id_programa_educativo.nombre }}</p>
                    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal{{ proyecto.id }}">Ver
                        detalles</button>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal{{ proyecto.id }}" tabindex="-1" aria-labelledby="modal{{ proyecto.id }}Label"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal{{ proyecto.id }}Label">{{ proyecto.nombre }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p><strong>Proceso:</strong> {{ proyecto.id_proceso.nombre }}</p>
                        <p><strong>Vacantes:</strong> {{ proyecto.vacantes }}</p>
                        <p><strong>Vacantes disponibles:</strong> {{ proyecto.vacantes_disponibles }}</p>
                        <p><strong>Periodo:</strong> {{ proyecto.periodo }}</p>
                        <p><strong>Modalidad:</strong> {{ proyecto.modalidad }}</p>
                        <p><strong>Objetivo:</strong> {{ proyecto.objetivo }}</p>
                        <p><strong>Justificación:</strong> {{ proyecto.justificacion }}</p>
                        <p><strong>Asesor:</strong> {{ proyecto.asesor }}</p>
                        <p><strong>Programa educativo:</strong> {{ proyecto.id_programa_educativo.nombre }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No hay proyectos registrados.</p>
    <p>Si deseas crear un proyecto, puedes hacerlo <a href="{% url 'empresa_crear_proyecto' %}">aquí</a>.</p>
    {% endif %}
</div>
{% endblock %}
