{% extends 'base.html' %}

{% block content %}
<div class="vh-100 d-flex justify-content-center align-items-center" style="background: rgb(144,29,120);
background: linear-gradient(45deg, rgba(144,29,120,1) 0%, rgba(0,146,63,1) 100%);">
    <div class="card p-5 rounded-4 shadow w-75">
        <div class="mb-2">
            <a type="button"
                class="btn btn-link link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                href="{% url 'index' %}">
                <i class="fa-solid fa-backward-step"></i>
                <span class="fw-light">Regresar</span>
            </a>
        </div>
        <div class="text-center mb-3">
            <h2>Crear cuenta</h2>
            <h4 class="fw-light text-muted">Registro de empresas</h4>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.razon_social.id_for_label }}" class="form-label">Razón Social:</label>
                        {{ form.razon_social }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.rfc.id_for_label }}" class="form-label">RFC:</label>
                        {{ form.rfc }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.telefono_empresa.id_for_label }}" class="form-label">Teléfono de la
                            Empresa:</label>
                        {{ form.telefono_empresa }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.titular.id_for_label }}" class="form-label">Titular:</label>
                        {{ form.titular }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.cargo.id_for_label }}" class="form-label">Cargo:</label>
                        {{ form.cargo }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.nombre_enlace.id_for_label }}" class="form-label">Nombre del Enlace:</label>
                        {{ form.nombre_enlace }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.telefono_enlace.id_for_label }}" class="form-label">Teléfono del
                            Enlace:</label>
                        {{ form.telefono_enlace }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.correo_enlace.id_for_label }}" class="form-label">Correo del Enlace:</label>
                        {{ form.correo_enlace }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.correo.id_for_label }}" class="form-label">Correo Electrónico:</label>
                        {{ form.correo }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.calle.id_for_label }}" class="form-label">Calle:</label>
                        {{ form.calle }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.numero.id_for_label }}" class="form-label">Número:</label>
                        {{ form.numero }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.colonia.id_for_label }}" class="form-label">Colonia:</label>
                        {{ form.colonia }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.ciudad.id_for_label }}" class="form-label">Ciudad:</label>
                        {{ form.ciudad }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.codigo_postal.id_for_label }}" class="form-label">Código Postal:</label>
                        {{ form.codigo_postal }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.entidad.id_for_label }}" class="form-label">Entidad:</label>
                        {{ form.entidad }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ user_form.password1.id_for_label }}" class="form-label">Contraseña:</label>
                        {{ user_form.password1 }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ user_form.password2.id_for_label }}" class="form-label">Confirmar
                            Contraseña:</label>
                        {{ user_form.password2 }}
                    </div>
                </div>
            </div>
            {{ user_form.username }}
            {{ user_form.es_empresa }}
            <div class="d-grid gap-2 mt-3">
                <input type="submit" value="Registrarse" class="btn btn-pill text-white btn-block btn-success mb-4">
            </div>
        </form>
    </div>
</div>
{% endblock %}