    {% extends 'base.html' %}

    {% block content %}

    <div style="position: absolute; top: 0; right: 0; padding: 20px;">
        <div id="messageToast" class="toast hide border-0" role="alert" aria-live="assertive" aria-atomic="true">
            {% if form.errors %}
            <div class="toast-body">
                <i class="fa-solid fa-triangle-exclamation me-1"></i>
                    Por favor, selecciona una opción.
            </div>
            {% endif %}
        </div>
    </div>
    <div class="vh-100 d-flex justify-content-center align-items-center" style="background: rgb(144,29,120);
    background: linear-gradient(45deg, rgba(144,29,120,1) 0%, rgba(0,146,63,1) 100%);">
        <div class="card p-5 rounded-4 shadow bg-light">
            <div class="mb-2">
                <a type="button" class="btn btn-link link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'index' %}">
                    <i class="fa-solid fa-backward-step"></i>
                    <span class="fw-light">Regresar</span>
                </a>
            </div>
            <div class="text-center mb-3">
                <div>
                    {% load static %}
                    <img src="{% static 'images/logo.png' %}" alt="Logo" height="100" class="mb-3">
                </div>
                <h1>Crear cuenta</h1>
                <h4 class="fw-light text-muted">Selecciona el tipo de cuenta</h4>
            </div>
            <div>
                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <button type="button" class="btn btn-light shadow-sm mb-3 mx-1"
                            onclick="selectOption('alumno', this)">
                            <div class="card bg-transparent py-5 px-3 border-0">
                                <div class="card-body text-muted">
                                    <h5 class="card-title"><i class="fas fa-user-graduate"></i> Alumno</h5>
                                    <p class="card-text">Haz clic para seleccionar la opción de Alumno.</p>
                                </div>
                            </div>
                        </button>
                        <button type="button" class="btn btn-light mb-3 shadow-sm mx-1"
                            onclick="selectOption('empresa', this)">
                            <div class="card bg-transparent py-5 px-3 border-0">
                                <div class="card-body text-muted">
                                    <h5 class="card-title"><i class="fas fa-building"></i> Empresa</h5>
                                    <p class="card-text">Haz clic para seleccionar la opción de Empresa.</p>
                                </div>
                            </div>
                        </button>
                        <input type="hidden" id="rol-input" name="{{ form.rol.name }}" value="{{ form.rol.value }}">
                    </div>
                    <div class="d-grid gap-2 pb-4">
                        <input type="submit" value="Seleccionar" class="btn btn-pill text-white btn-block btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function selectOption(option, button) {
            var buttons = document.getElementsByTagName('button');
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].classList.remove('selected');
            }
            button.classList.add('selected');

            document.getElementById('rol-input').value = option;
        }

        var messageToast = new bootstrap.Toast(document.getElementById("messageToast"));
        messageToast.show();
    </script>



    <style>
        .btn-light.selected {
            background-color: #dcdcdc;
        }
    </style>
    {% endblock %}