{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="text-center mt-5">
        <h1>Bienvenido(a), <span class="text-success">{{ user.username }}</span>!</h1>
        <div class="pt-2">
            <p>¡Bienvenido/a al Catálogo de Proyectos de Estancias y Estadías de la Universidad Politécnica de
                Tapachula!
            </p>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
<footer class="footer bg-light p-4 fixed-bottom fw-light shadow-lg">
    <div class="container pb-5 pt-3">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex align-items-center">
                    {% load static %}
                    <img src="{% static 'images/logo.png' %}" alt="Logo" height="50" class="mb-3 me-2">
                    <h6 class="text-muted">UP Tapachula</h6>
                </div>
                <div class="d-none d-lg-inline">
                    <p class="mb-3">Copyright © 2023 UP Tapachula.</p>
                    <p>Todos los derechos reservados.</p>
                    <p>Catálogo de Proyectos 2023 | UpTap</p>
                </div>
            </div>
            <div class="col-md-4">
                <h6 class="mb-3 text-muted">Información de contacto</h6>
                <p>Correo electrónico: <a href="mailto:contacto@uptapachula.edu.mx" target="_blank"
                        rel="noopener noreferrer" class="link-success">contacto@uptapachula.edu.mx</a></p>
                <p>Teléfono: <a href="tel:+529626890090" target="_blank" rel="noopener noreferrer" class="link-success"s>(962) 689 0090 Ext.
                        1001-1021</a></p>
                <p>Ubicación: Carretera Tapachula - Puerto Madero KM. 24 + 300. Tapachula, Chiapas. C.P 30830.</p>
            </div>
            <div class="col-md-4">
                <h6 class="mb-3 text-muted">Redes sociales</h6>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com/UniversidadPolitecnicaTapachula"
                            class="text-muted" target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="https://twitter.com/uptapachula?lang=es" class="text-muted"
                            target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/uptapachula/" class="text-muted"
                            target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                    <li class="list-inline-item"><a href="https://www.uptapachula.edu.mx/" class="text-muted"
                            target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-earth-americas"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{% endif %}

{% endblock %}