{% extends 'base.html' %}

{% block content %}
<div class="p-4">
    <h1>Editar perfil</h1>
    <div class="row p-4">
        <div class="col-md-4">
            <h2>Información Personal</h2>
            <form>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre(s)</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" value="{{ alumno.nombre }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="apellido_paterno" class="form-label">Apellido paterno</label>
                    <input type="text" class="form-control" id="apellido_paterno" name="apellido_paterno" value="{{ alumno.apellido_paterno }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="apellido_materno" class="form-label">Apellido materno</label>
                    <input type="text" class="form-control" id="apellido_materno" name="apellido_materno" value="{{ alumno.apellido_materno }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="correo_personal" class="form-label">Correo personal</label>
                    <input type="email" class="form-control" id="correo_personal" name="correo_personal" value="{{ alumno.correo_personal }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" value="{{ alumno.telefono }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="sexo" class="form-label">Sexo</label>
                    <input type="text" class="form-control" id="sexo" name="sexo" value="{{ alumno.sexo }}" readonly>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h2>Información Escolar</h2>
            <form>
                <div class="mb-3">
                    <label for="matricula" class="form-label">Matrícula</label>
                    <input type="text" class="form-control" id="matricula" name="matricula" value="{{ alumno.matricula }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="correo_institucional" class="form-label">Correo institucional</label>
                    <input type="email" class="form-control" id="correo_institucional" name="correo_institucional" value="{{ alumno.correo_institucional }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="programa_educativo" class="form-label">Programa educativo</label>
                    <input type="text" class="form-control" id="programa_educativo" name="programa_educativo" value="{{ alumno.programa_educativo }}" readonly>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <h2>Cambiar Contraseña</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="mb-3">
                    {{ form.old_password.errors }}
                    <label for="{{ form.old_password.id_for_label }}" class="form-label">Contraseña actual</label>
                    <input type="password" class="form-control {% if form.old_password.errors %}is-invalid{% endif %}"
                        id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.html_name }}">
                    {% for error in form.old_password.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    {{ form.new_password1.errors }}
                    <label for="{{ form.new_password1.id_for_label }}" class="form-label">Nueva contraseña</label>
                    <input type="password" class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}"
                        id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}">
                    {% for error in form.new_password1.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    {{ form.new_password2.errors }}
                    <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirmar contraseña</label>
                    <input type="password" class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}"
                        id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}">
                    {% for error in form.new_password2.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
            </form>
        </div>
</div>
{% endblock %}
