{% extends 'base.html' %}

{% block content %}
<div class="vh-100 d-flex justify-content-center align-items-center" style="background: rgb(144,29,120);
background: linear-gradient(45deg, rgba(144,29,120,1) 0%, rgba(0,146,63,1) 100%);">
    <div class="card p-5 rounded-4 shadow w-75">
        <div class="mb-2">
            <a type="button"
                class="btn btn-link link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                href="{% url 'index' %}">
                <i class="fa-solid fa-backward-step"></i>
                <span class="fw-light">Regresar</span>
            </a>
        </div>
        <div class="text-center mb-3">
            <h2>Crear cuenta</h2>
            <h4 class="fw-light text-muted">Registro de alumnos</h4>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.matricula.id_for_label }}" class="form-label">Matrícula:</label>
                        {{ form.matricula }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.nombre.id_for_label }}" class="form-label">Nombre:</label>
                        {{ form.nombre }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.apellido_paterno.id_for_label }}" class="form-label">Apellido
                            Paterno:</label>
                        {{ form.apellido_paterno }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.apellido_materno.id_for_label }}" class="form-label">Apellido
                            Materno:</label>
                        {{ form.apellido_materno }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.sexo.id_for_label }}" class="form-label">Sexo:</label>
                        {{ form.sexo }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.correo_personal.id_for_label }}" class="form-label">Correo Personal:</label>
                        {{ form.correo_personal }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.correo_institucional.id_for_label }}" class="form-label">Correo
                            Institucional:</label>
                        {{ form.correo_institucional }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.telefono.id_for_label }}" class="form-label">Teléfono:</label>
                        {{ form.telefono }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ form.programa_educativo.id_for_label }}" class="form-label">Programa
                            Educativo:</label>
                        {{ form.programa_educativo }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ user_form.password1.id_for_label }}" class="form-label">Contraseña:</label>
                        {{ user_form.password1 }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="{{ user_form.password2.id_for_label }}" class="form-label">Confirmar
                            Contraseña:</label>
                        {{ user_form.password2 }}
                    </div>
                </div>
            </div>
            {{ user_form.username }}
            {% if user_form.username.errors %}
            <div class="invalid-feedback">
                {% for error in user_form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            {{ user_form.es_alumno }}
            <div class="d-grid gap-2 mt-3">
                <input type="submit" value="Registrarse" class="btn btn-pill text-white btn-block btn-success mb-4">
            </div>
        </form>
    </div>
</div>
{% endblock %}